In [1]:
import pandas as pd
import seaborn as sns

In [2]:
##begin baby names by state

import pandas as pd
import glob
from matplotlib import pyplot as plt
%matplotlib notebook
files = sorted(glob.glob('../Desktop/namesbystate/*.TXT'))

print(files)

cols = ['state', 'sex', 'year', 'name', 'n']

#empty data frame
#df = pd.DataFrame(columns = cols)

['../Desktop/namesbystate/AK.TXT', '../Desktop/namesbystate/AL.TXT', '../Desktop/namesbystate/AR.TXT', '../Desktop/namesbystate/AZ.TXT', '../Desktop/namesbystate/CA.TXT', '../Desktop/namesbystate/CO.TXT', '../Desktop/namesbystate/CT.TXT', '../Desktop/namesbystate/DC.TXT', '../Desktop/namesbystate/DE.TXT', '../Desktop/namesbystate/FL.TXT', '../Desktop/namesbystate/GA.TXT', '../Desktop/namesbystate/HI.TXT', '../Desktop/namesbystate/IA.TXT', '../Desktop/namesbystate/ID.TXT', '../Desktop/namesbystate/IL.TXT', '../Desktop/namesbystate/IN.TXT', '../Desktop/namesbystate/KS.TXT', '../Desktop/namesbystate/KY.TXT', '../Desktop/namesbystate/LA.TXT', '../Desktop/namesbystate/MA.TXT', '../Desktop/namesbystate/MD.TXT', '../Desktop/namesbystate/ME.TXT', '../Desktop/namesbystate/MI.TXT', '../Desktop/namesbystate/MN.TXT', '../Desktop/namesbystate/MO.TXT', '../Desktop/namesbystate/MS.TXT', '../Desktop/namesbystate/MT.TXT', '../Desktop/namesbystate/NC.TXT', '../Desktop/namesbystate/ND.TXT', '../Desktop/namesbystate/NE.TXT', '../Desktop/namesbystate/NH.TXT', '../Desktop/namesbystate/NJ.TXT', '../Desktop/namesbystate/NM.TXT', '../Desktop/namesbystate/NV.TXT', '../Desktop/namesbystate/NY.TXT', '../Desktop/namesbystate/OH.TXT', '../Desktop/namesbystate/OK.TXT', '../Desktop/namesbystate/OR.TXT', '../Desktop/namesbystate/PA.TXT', '../Desktop/namesbystate/RI.TXT', '../Desktop/namesbystate/SC.TXT', '../Desktop/namesbystate/SD.TXT', '../Desktop/namesbystate/TN.TXT', '../Desktop/namesbystate/TX.TXT', '../Desktop/namesbystate/UT.TXT', '../Desktop/namesbystate/VA.TXT', '../Desktop/namesbystate/VT.TXT', '../Desktop/namesbystate/WA.TXT', '../Desktop/namesbystate/WI.TXT', '../Desktop/namesbystate/WV.TXT', '../Desktop/namesbystate/WY.TXT']

In [3]:
#this append operation is necessary because the files broken up by state
df = None
for file in files:
  #print(file)
  if df is None:
     df = pd.read_csv(file,names=cols)  
  else:   
     df = df.append(pd.read_csv(file,names=cols, 
                                dtype = {"n" : "int64", 
                                         "year": "int64"})) #nrows=200))

In [4]:
#df.sample(100)
df.sort_values('n', inplace=True, ascending=False)

df.sort_values(['year', 'state'], inplace=True)

In [9]:
df_grouped = df.groupby(['state', 'year']).sum()

df_grouped

               n
state year
AK    1910   115
      1911    84
      1912   141
      1913   110
      1914   245
      1915   325
      1916   320
      1917   276
      1918   342
      1919   414
      1920   434
      1921   405
      1922   418
      1923   457
      1924   442
      1925   395
      1926   409
      1927   442
      1928   475
      1929   391
      1930   515
      1931   404
      1932   497
      1933   527
      1934   504
      1935   447
      1936   624
      1937   582
      1938   643
      1939   612
...          ...
WY    1989  4234
      1990  4088
      1991  4045
      1992  3884
      1993  3727
      1994  3557
      1995  3417
      1996  3359
      1997  3282
      1998  3236
      1999  3065
      2000  3008
      2001  2894
      2002  3069
      2003  3179
      2004  3084
      2005  3381
      2006  3515
      2007  3612
      2008  3541
      2009  3367
      2010  3176
      2011  2996
      2012  3054
      2013  3204
      2014  3192
      2015  3276
      2016  2875
      2017  2563
      2018  2354

[5559 rows x 1 columns]

In [12]:
df = pd.merge(df, df_grouped, on=['state', 'year'])

In [14]:
df['proportion'] = df['n_x']/df['n_y']

In [17]:
##use the rename with dict to rename columns
df.rename(columns={'n_x':'n', 'n_y': 'total_names'}, inplace=True)

In [18]:
df.head()

  state sex  year      name   n  total_names  proportion
0    AK   F  1910      Mary  14          115    0.121739
1    AK   F  1910     Annie  12          115    0.104348
2    AK   F  1910      Anna  10          115    0.086957
3    AK   F  1910  Margaret   8          115    0.069565
4    AK   M  1910      John   8          115    0.069565

In [ ]:
##value_counts() returns a series with variable (e.g. name) as index
df = df.reset_index()

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6028151 entries, 1309693 to 6028150
Data columns (total 7 columns):
name           object
state          object
sex            object
year           int64
n              int64
total_names    int64
proportion     float64
dtypes: float64(1), int64(3), object(3)
memory usage: 527.9+ MB

In [ ]:
df_reduced = df[df['proportion'] > df['proportion'].quantile(.5)]
#sns.distplot(df['proportion'])

In [167]:

#df_reduced.drop('total_names', axis=1)
#import numpy as np

#bins = np.linspace(df_reduced.proportion.min(), df_reduced.proportion.max(), 4)
df_reduced['rank'] = df_reduced['proportion'].rank()
df_reduced.head()

df_reduced['name_rank'] = pd.cut(df_reduced['rank'], 3,
                                labels = ['low', 'med', 'high'])

/Users/alex/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/alex/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [168]:
df_reduced['name_rank'].value_counts()

low     1004690
high    1004678
med     1004678
Name: name_rank, dtype: int64

In [175]:
df_reduced[((df_reduced['name']=='Henrietta') & 
             (df_reduced['name_rank']=='high'))].sort_values('proportion')

,name,state,sex,year,n,total_names,proportion,name_rank,rank
186661,Henrietta,HI,F,1917,6,4736,0.001267,high,2014310.0
182324,Henrietta,AZ,F,1917,7,5516,0.001269,high,2015924.5
27249,Henrietta,NJ,F,1911,20,15556,0.001286,high,2026886.0
1021194,Henrietta,HI,F,1940,9,6970,0.001291,high,2030612.0
42166,Henrietta,LA,F,1912,26,20049,0.001297,high,2034592.0
329119,Henrietta,AZ,F,1921,9,6929,0.001299,high,2035995.0
16287,Henrietta,WI,F,1910,12,9204,0.001304,high,2039098.0
93944,Henrietta,MD,F,1914,22,16786,0.001311,high,2043555.5
17028,Henrietta,AL,F,1911,24,18243,0.001316,high,2046773.0
508275,Henrietta,SC,F,1925,57,43264,0.001317,high,2047931.5
138105,Henrietta,SC,F,1915,43,32591,0.001319,high,2049124.0
845696,Henrietta,HI,F,1935,8,6061,0.001320,high,2049465.0
23581,Henrietta,MD,F,1911,10,7559,0.001323,high,2051406.5
94770,Henrietta,MI,F,1914,45,33738,0.001334,high,2058428.0
291401,Henrietta,AZ,F,1920,10,7394,0.001352,high,2070087.0
100743,Henrietta,NM,F,1914,5,3691,0.001355,high,2071603.0
43406,Henrietta,MD,F,1912,16,11774,0.001359,high,2074249.0
1092416,Henrietta,DE,F,1942,6,4366,0.001374,high,2083318.0
166162,Henrietta,NJ,F,1916,73,52944,0.001379,high,2085955.0
49004,Henrietta,NY,F,1912,127,92044,0.001380,high,2086539.0
56454,Henrietta,WA,F,1912,10,7226,0.001384,high,2089104.0
10650,Henrietta,NY,F,1910,68,48148,0.001412,high,2104624.0
24542,Henrietta,MN,F,1911,13,9157,0.001420,high,2108898.0
38895,Henrietta,IA,F,1912,23,16112,0.001428,high,2113708.5
293886,Henrietta,DC,F,1920,9,6281,0.001433,high,2116927.0
370076,Henrietta,DE,F,1922,5,3482,0.001436,high,2118752.5
44045,Henrietta,MI,F,1912,32,22002,0.001454,high,2128925.0
68013,Henrietta,MI,F,1913,40,27469,0.001456,high,2129911.5
1057420,Henrietta,HI,F,1941,11,7519,0.001463,high,2133732.0
24094,Henrietta,MI,F,1911,19,12959,0.001466,high,2135486.5
741872,Henrietta,HI,F,1932,10,6691,0.001495,high,2151002.5
55519,Henrietta,UT,F,1912,5,3339,0.001497,high,2152450.5
22588,Henrietta,LA,F,1911,20,13340,0.001499,high,2153283.5
27799,Henrietta,NY,F,1911,92,60801,0.001513,high,2160229.5
77434,Henrietta,SC,F,1913,34,22263,0.001527,high,2167141.5
1945,Henrietta,CT,F,1910,7,4512,0.001551,high,2179453.0
217726,Henrietta,AZ,F,1918,10,6383,0.001567,high,2186964.5
5668,Henrietta,LA,F,1910,23,14551,0.001581,high,2193830.0
106287,Henrietta,SD,F,1914,11,6865,0.001602,high,2203878.0
331850,Henrietta,DE,F,1921,6,3562,0.001684,high,2241808.0
184493,Henrietta,DC,F,1917,8,4731,0.001691,high,2244593.0
33833,Henrietta,WI,F,1911,17,9812,0.001733,high,2262264.0
985488,Henrietta,HI,F,1939,12,6742,0.001780,high,2281442.5
10111,Henrietta,NJ,F,1910,23,12317,0.001867,high,2314338.0
7047,Henrietta,MI,F,1910,23,12071,0.001905,high,2328495.5
60684,Henrietta,DC,F,1913,5,2598,0.001925,high,2334970.0
1350,Henrietta,CA,F,1910,18,9163,0.001964,high,2348961.5
559101,Henrietta,DE,F,1927,6,3003,0.001998,high,2359852.5
3351,Henrietta,IA,F,1910,16,7890,0.002028,high,2369711.0
26822,Henrietta,NE,F,1911,11,5360,0.002052,high,2377344.0
73176,Henrietta,NM,F,1913,6,2920,0.002055,high,2378188.5
13243,Henrietta,SC,F,1910,32,14982,0.002136,high,2402826.0
86442,Henrietta,DC,F,1914,7,3263,0.002145,high,2405615.5
147506,Henrietta,AZ,F,1916,11,4803,0.002290,high,2444782.5
6566,Henrietta,MD,F,1910,18,7003,0.002570,high,2510695.0
38703,Henrietta,HI,F,1912,5,1351,0.003701,high,2682005.5

In [149]:
df_reduced[df_reduced['name_rank']=='high']

          name state sex  year   n  total_names  proportion name_rank
48829     John    NV   M  1912  24          151    0.158940      high
57629     Mary    AK   F  1913  21          110    0.190909      high
57630     John    AK   M  1913  19          110    0.172727      high
16829     John    AK   M  1911  15           84    0.178571      high
16830     Mary    AK   F  1911  12           84    0.142857      high
27634     John    NV   M  1911  11           85    0.129412      high
10482     Mary    NV   F  1910  10           67    0.149254      high
10481     John    NV   M  1910  10           67    0.149254      high
10480  William    NV   M  1910  10           67    0.149254      high

In [55]:
counts = df.name.value_counts().sort_values(ascending=False).index.tolist()
counts

['Leslie',
 'James',
 'Lee',
 'John',
 'Robert',
 'Jessie',
 'William',
 'Michael',
 'Mary',
 'Charles',
 'David',
 'Joseph',
 'George',
 'Richard',
 'Thomas',
 'Terry',
 'Daniel',
 'Jamie',
 'Kelly',
 'Francis',
 'Jerry',
 'Paul',
 'Elizabeth',
 'Edward',
 'Kenneth',
 'Jesse',
 'Anthony',
 'Andrew',
 'Marion',
 'Margaret',
 'Dana',
 'Donald',
 'Anna',
 'Henry',
 'Katherine',
 'Raymond',
 'Sarah',
 'Jack',
 'Frank',
 'Laura',
 'Catherine',
 'Samuel',
 'Peter',
 'Julia',
 'Patricia',
 'Kathryn',
 'Benjamin',
 'Patrick',
 'Mark',
 'Stephen',
 'Walter',
 'Dale',
 'Jean',
 'Ronald',
 'Arthur',
 'Robin',
 'Carl',
 'Jackie',
 'Rachel',
 'Kathleen',
 'Audrey',
 'Russell',
 'Philip',
 'Lynn',
 'Lawrence',
 'Matthew',
 'Christopher',
 'Emily',
 'Allen',
 'Wesley',
 'Rose',
 'Marie',
 'Joe',
 'Rebecca',
 'Ruth',
 'Victoria',
 'Louis',
 'Charlotte',
 'Victor',
 'Douglas',
 'Martin',
 'Theodore',
 'Alex',
 'Alice',
 'Helen',
 'Grace',
 'Barbara',
 'Albert',
 'Anne',
 'Phillip',
 'Virginia',
 'Evelyn',
 'Nancy',
 'Sara',
 'Timothy',
 'Jacqueline',
 'Vincent',
 'Roy',
 'Maria',
 'Dennis',
 'Ann',
 'Christine',
 'Shannon',
 'Carolyn',
 'Steven',
 'Casey',
 'Calvin',
 'Carmen',
 'Carol',
 'Caroline',
 'Edwin',
 'Frances',
 'Curtis',
 'Alexander',
 'Gerald',
 'Roger',
 'Ellen',
 'Amy',
 'Aaron',
 'Larry',
 'Keith',
 'Martha',
 'Bruce',
 'Willie',
 'Jane',
 'Dorothy',
 'Eva',
 'Adrian',
 'Lillian',
 'Jay',
 'Harold',
 'Susan',
 'Alan',
 'Theresa',
 'Emma',
 'Nathan',
 'Joel',
 'Frederick',
 'Nicholas',
 'Shirley',
 'Wayne',
 'Clayton',
 'Eugene',
 'Warren',
 'Eric',
 'Morgan',
 'Linda',
 'Leonard',
 'Shawn',
 'Stanley',
 'Sidney',
 'Angela',
 'Cynthia',
 'Ernest',
 'Charlie',
 'Jacob',
 'Leo',
 'Tracy',
 'Eddie',
 'Sylvia',
 'Tony',
 'Jordan',
 'Angel',
 'Naomi',
 'Harry',
 'Andrea',
 'Ruby',
 'Ryan',
 'Marvin',
 'Janet',
 'Lydia',
 'Leon',
 'Johnny',
 'Brian',
 'Bonnie',
 'Dean',
 'Vivian',
 'Ray',
 'Billie',
 'Gary',
 'Josephine',
 'Melvin',
 'Christian',
 'Esther',
 'Gregory',
 'Gloria',
 'Clara',
 'Howard',
 'Scott',
 'Leah',
 'Ralph',
 'Jonathan',
 'Clifford',
 'Christina',
 'Billy',
 'Julie',
 'Betty',
 'Rodney',
 'Diana',
 'Bobby',
 'Franklin',
 'Taylor',
 'Teresa',
 'Glenn',
 'Norman',
 'Chris',
 'Lucy',
 'Earl',
 'Max',
 'Eleanor',
 'Joy',
 'Elaine',
 'Kevin',
 'Maurice',
 'Donna',
 'Joyce',
 'Gordon',
 'Karen',
 'Nina',
 'Alfred',
 'Dallas',
 'Jeffrey',
 'Sandra',
 'Stephanie',
 'Anita',
 'Lewis',
 'Sally',
 'Georgia',
 'Alvin',
 'Clarence',
 'Natalie',
 'Annie',
 'Veronica',
 'Jennifer',
 'Kyle',
 'Fred',
 'Jimmy',
 'Irene',
 'Everett',
 'Molly',
 'Marcus',
 'Nathaniel',
 'Adam',
 'Clinton',
 'Cameron',
 'Marshall',
 'Valerie',
 'Amanda',
 'Mitchell',
 'Shelby',
 'Nora',
 'Amelia',
 'Beverly',
 'Leroy',
 'Troy',
 'Claire',
 'Bradley',
 'Jerome',
 'Kerry',
 'Connie',
 'Danny',
 'Austin',
 'Rita',
 'Carrie',
 'Grant',
 'Alexis',
 'Marilyn',
 'Janice',
 'Jason',
 'Bernard',
 'Bryan',
 'Neil',
 'Vernon',
 'Katie',
 'Isaac',
 'Steve',
 'Oscar',
 'Lloyd',
 'Ivan',
 'Ella',
 'Joan',
 'Monica',
 'Byron',
 'Edgar',
 'Michelle',
 'Johnnie',
 'Priscilla',
 'Riley',
 'Tommy',
 'Julian',
 'Jon',
 'Ross',
 'June',
 'Regina',
 'Roland',
 'Randy',
 'Kendall',
 'Paula',
 'Sharon',
 'Edith',
 'Spencer',
 'Rosemary',
 'Gene',
 'Jeanette',
 'Madeline',
 'Darrell',
 'Randall',
 'Harley',
 'Sam',
 'Marjorie',
 'Gwendolyn',
 'Doris',
 'Erin',
 'Glen',
 'Karl',
 'Herbert',
 'Tyler',
 'Melissa',
 'Brenda',
 'Olivia',
 'Kimberly',
 'Oliver',
 'Preston',
 'Aubrey',
 'Owen',
 'Carlos',
 'Frankie',
 'Annette',
 'Gabriel',
 'Allan',
 'Claudia',
 'Judith',
 'Lena',
 'Juanita',
 'Courtney',
 'Louise',
 'Craig',
 'Norma',
 'Justin',
 'Colleen',
 'Roberta',
 'Micheal',
 'Joshua',
 'Melanie',
 'Clyde',
 'Ben',
 'Joanna',
 'Hazel',
 'Alicia',
 'Don',
 'Wade',
 'Loretta',
 'Constance',
 'Miriam',
 'Yvonne',
 'Travis',
 'Stella',
 'Ronnie',
 'Harvey',
 'Bobbie',
 'Avery',
 'Cecilia',
 'Cora',
 'Gilbert',
 'Jessica',
 'Guy',
 'Jimmie',
 'Suzanne',
 'Lois',
 'Lester',
 'Hope',
 'Stacy',
 'Holly',
 'Lorraine',
 'Faith',
 'Floyd',
 'Devin',
 'Noel',
 'Charlene',
 'Crystal',
 'Deborah',
 'Lucille',
 'Genevieve',
 'Manuel',
 'Renee',
 'Pauline',
 'Beatrice',
 'Lisa',
 'Antonio',
 'Iris',
 'Rosa',
 'Blake',
 'Peggy',
 'Jennie',
 'Ashley',
 'Pamela',
 'Eileen',
 'Evan',
 'Diane',
 'Milton',
 'Lonnie',
 'Jody',
 'Logan',
 'Jeanne',
 'Sean',
 'Sheila',
 'Deanna',
 'Lauren',
 'Corey',
 'Arnold',
 'Luke',
 'Gail',
 'Lance',
 'Wanda',
 'Hannah',
 'Marian',
 'Perry',
 'Andy',
 'Allison',
 'Denise',
 'Cecil',
 'Violet',
 'Jeffery',
 'April',
 'Nelson',
 'Jose',
 'Mike',
 'Shane',
 'Vera',
 'Phyllis',
 'Jacquelyn',
 'Ricky',
 'Noah',
 'Malcolm',
 'Chester',
 'Carla',
 'Beth',
 'Derek',
 'Geraldine',
 'Daisy',
 'Brent',
 'Elsie',
 'Jenny',
 'Brett',
 'Edna',
 'Sadie',
 'Joanne',
 'Julius',
 'Duane',
 'Hugh',
 'Dwight',
 'Reginald',
 'Arlene',
 'Alma',
 'Bernice',
 'Vanessa',
 'Barry',
 'Leland',
 'Judy',
 'Mildred',
 'Leona',
 'Loren',
 'Brandon',
 'Micah',
 'Wendy',
 'Dan',
 'Melody',
 'Florence',
 'Wallace',
 'Drew',
 'Toni',
 'Neal',
 'Heather',
 'Heidi',
 'Kim',
 'Tina',
 'Jaime',
 'Elmer',
 'Stacey',
 'Herman',
 'Darlene',
 'Jake',
 'Joann',
 'Dawn',
 'Cassandra',
 'Bill',
 'Levi',
 'Fredrick',
 'Danielle',
 'Tom',
 'Devon',
 'Clark',
 'Maggie',
 'Juan',
 'Jim',
 'Marc',
 'Alison',
 'Pat',
 'Ted',
 'Sophia',
 'Lola',
 'Dominic',
 'Gladys',
 'Ida',
 'Andre',
 'Nicole',
 'Forrest',
 'Pearl',
 'Marcia',
 'Cindy',
 'Todd',
 'Stuart',
 'Jan',
 'Freddie',
 'Clifton',
 'Meredith',
 'Myra',
 'Dylan',
 'Zachary',
 'Maxine',
 'Rex',
 'Cory',
 'Elijah',
 'Sandy',
 'Lila',
 'Miles',
 'Camille',
 'Mario',
 'Erik',
 'Colin',
 'Jeremy',
 'Jeremiah',
 'Bridget',
 'Dolores',
 'Garrett',
 'Jill',
 'Kristen',
 'Ian',
 'Seth',
 'Ramona',
 'Melinda',
 'Amber',
 'Samantha',
 'Sherry',
 'Kathy',
 'Thelma',
 'Tamara',
 'Michele',
 'Cheryl',
 'Cecelia',
 'Mathew',
 'Ada',
 'Marlene',
 'Daryl',
 'Megan',
 'Karla',
 'Isabel',
 'Claude',
 'Jeannette',
 'Marcella',
 'Kristin',
 'Felix',
 'Sue',
 'Dakota',
 'Bryce',
 'Harrison',
 'Kristina',
 'Rosalie',
 'Wendell',
 'Derrick',
 'Sabrina',
 'Tara',
 'Gretchen',
 'Dora',
 'Candace',
 'Kendra',
 'Hunter',
 'Ira',
 'Chad',
 'Cody',
 'Katrina',
 'Ellis',
 'Joey',
 'Nadine',
 'Morris',
 'Geneva',
 'Bertha',
 'Elliott',
 'Simon',
 'Ethel',
 'Jo',
 'Kent',
 'Adrienne',
 'Erica',
 'Bennie',
 'Celia',
 'Brooke',
 'Elise',
 'Willard',
 'Terrance',
 'Darren',
 'Virgil',
 'Lillie',
 'Terrence',
 'Kay',
 'Ruben',
 'Angelina',
 'Agnes',
 'Kara',
 'Maureen',
 'Paige',
 'Abigail',
 'Trevor',
 'Faye',
 'Dwayne',
 'Jackson',
 'Jared',
 'Damon',
 'Abraham',
 'Wilson',
 'Tanya',
 'Eunice',
 'Celeste',
 'Bethany',
 'Laurel',
 'Kate',
 'Myron',
 'Sydney',
 'Eli',
 'Lindsey',
 'Alexandra',
 'Gina',
 'Corinne',
 'Skyler',
 'Mason',
 'Lorenzo',
 'Lana',
 'Viola',
 'Tiffany',
 'Marguerite',
 'Rene',
 'Della',
 'Jocelyn',
 'Elisabeth',
 'Lora',
 'Ricardo',
 'Mollie',
 'Kurt',
 'Darryl',
 'Nolan',
 'Margie',
 'Carlton',
 'Josie',
 'Wilma',
 'Hayden',
 'Debra',
 'Toby',
 'Erika',
 'Parker',
 'Robyn',
 'Mae',
 'Delores',
 'Lyle',
 'Alonzo',
 'Betsy',
 'Lori',
 'Lily',
 'Nellie',
 'Carson',
 'Donnie',
 'Brady',
 'Clay',
 'Patsy',
 'Angelo',
 'Rebekah',
 'Willis',
 'Verna',
 'Shaun',
 'Jeff',
 'Kasey',
 'Luis',
 'Angie',
 'Emmett',
 'Carter',
 'Bailey',
 'Quinn',
 'Dustin',
 'Sterling',
 'Peyton',
 'Laverne',
 'Mona',
 'Bob',
 'Laurie',
 'Lucas',
 'Harriet',
 'Nick',
 'Johanna',
 'Conrad',
 'Antoinette',
 'Tyrone',
 'Sophie',
 'Merle',
 'Isaiah',
 'Johnathan',
 'Ashton',
 'Susie',
 'Rachael',
 'Dominique',
 'Whitney',
 'Janie',
 'Penny',
 'Dave',
 'Skylar',
 'Ethan',
 'Felicia',
 'Isabelle',
 'Callie',
 'Emanuel',
 'Desiree',
 'Brad',
 'Robbie',
 'Kirk',
 'Kenny',
 'Bryant',
 'Ariel',
 'Gayle',
 'Alyssa',
 'Archie',
 'Christy',
 'Sonya',
 'Elena',
 'Autumn',
 'Ivy',
 'Miranda',
 'Tracey',
 'Marianne',
 'Sherman',
 'Trent',
 'Terri',
 'Glenda',
 'Krista',
 'Dixie',
 'Janelle',
 'Yolanda',
 'Tristan',
 'Randolph',
 'Sonia',
 'Otis',
 'Rhonda',
 'Rena',
 'Mackenzie',
 'Jewel',
 'Katharine',
 'Caleb',
 'Ava',
 'Ervin',
 'Gabrielle',
 'Jade',
 'Geoffrey',
 'Miguel',
 'Mabel',
 'Cara',
 'Jesus',
 'Kristine',
 'Becky',
 'Blaine',
 'Quentin',
 'Jana',
 'Cassie',
 'Marsha',
 'Brendan',
 'Cornelius',
 'Payton',
 'Dianna',
 'Rudolph',
 'Sheldon',
 'Ramon',
 'Eloise',
 'Jasmine',
 'Flora',
 'Madelyn',
 'Edmund',
 'Cleo',
 'Natasha',
 'Irma',
 'Lindsay',
 'Tommie',
 'Alton',
 'Chase',
 'Roxanne',
 'Lucinda',
 'Luther',
 'Carole',
 'Irvin',
 'Kayla',
 'Vicki',
 'August',
 'Candice',
 'Carroll',
 'Donovan',
 'Bessie',
 'Cathy',
 'Alberta',
 'Mia',
 'Rochelle',
 'Benny',
 'Wilbur',
 'Jenna',
 'Allyson',
 'Velma',
 'Jasper',
 'Roderick',
 'Kelsey',
 'Mattie',
 'Alana',
 'Kelli',
 'Rory',
 'Pete',
 'Francisco',
 'Orlando',
 'Sonja',
 'Roman',
 'Hilda',
 'Tammy',
 'Abby',
 'Sylvester',
 'Gertrude',
 'Kristopher',
 'Bernadette',
 'Eliza',
 'Rosie',
 'Shelly',
 'Delbert',
 'Jonathon',
 'Gavin',
 'Amos',
 'Leila',
 'Erick',
 'Marissa',
 'Hubert',
 'Kirsten',
 'Damian',
 'Shelley',
 'Madison',
 'Elliot',
 'Ty',
 'Reuben',
 'Gracie',
 'Lynda',
 'Inez',
 'Nicolas',
 'Dianne',
 'Colby',
 'Patty',
 'Lowell',
 'Kristi',
 'Ana',
 'Lenora',
 'Kelley',
 'Tonya',
 'Lilly',
 'Brianna',
 'Stewart',
 'Emerson',
 'Grady',
 'Laurence',
 'Maxwell',
 'Summer',
 'Cole',
 'Chelsea',
 'Kristy',
 'Helena',
 'Wyatt',
 'Ginger',
 'Kellie',
 'Landon',
 'Jodi',
 'Tessa',
 'Haley',
 'Carey',
 'Tabitha',
 'Aimee',
 'Savannah',
 'Jayden',
 'Meghan',
 'Lane',
 'Xavier',
 'Kari',
 'Teddy',
 'Will',
 'Damien',
 'Belinda',
 'Nikki',
 'Gwen',
 'Monique',
 'Alexandria',
 'Sammy',
 'Jillian',
 'Wilbert',
 'Mercedes',
 'Lea',
 'Graham',
 'Mickey',
 'Van',
 'Myrtle',
 'Dominick',
 'Leigh',
 'Winston',
 'Moses',
 'Brittany',
 'Minnie',
 'Addison',
 'Collin',
 'Roberto',
 'Sherri',
 'Rick',
 'Vance',
 'Tyson',
 'Bert',
 'Omar',
 'Greg',
 'Nickolas',
 'Elias',
 'Garry',
 'Annabelle',
 'Sheryl',
 'Anastasia',
 'Blair',
 'Alisha',
 'Selena',
 'Emery',
 'Solomon',
 'Serena',
 'Daphne',
 'Janette',
 'Allie',
 'Kelvin',
 'Lynette',
 'Elisa',
 'Dalton',
 'Carly',
 'Debbie',
 'Dexter',
 'Lesley',
 'Reed',
 'Hattie',
 'Alisa',
 'Angelica',
 'Royce',
 'Darrel',
 'Homer',
 'Maryann',
 'Erma',
 'Fernando',
 'Bradford',
 'Sebastian',
 'Chloe',
 'Blanche',
 'Justine',
 'Justice',
 'Penelope',
 'Brock',
 'Elisha',
 'Lamar',
 'Tanner',
 'Zane',
 'Adeline',
 'Jeannie',
 'Mariah',
 'Pedro',
 'Dane',
 'Clarissa',
 'Gale',
 'Brandi',
 'Shawna',
 'Brandy',
 'Ali',
 'Destiny',
 'Krystal',
 'Earnest',
 'Trenton',
 'Henrietta',
 'Isabella',
 'Marco',
 'Muriel',
 'Christie',
 'Horace',
 'Jolene',
 'Mack',
 'Tia',
 'Gerard',
 'Hector',
 'Jorge',
 'Boyd',
 'Lacey',
 'Rafael',
 'Ernestine',
 'Lorena',
 'Terrell',
 'Briana',
 ...]

In [82]:
#df.set_index('name', inplace=True)
df.reset_index(inplace=True)
df.head()

       name state sex  year   n  total_names  proportion
0      Mary    AK   F  1910  14          115    0.121739
1     Annie    AK   F  1910  12          115    0.104348
2      Anna    AK   F  1910  10          115    0.086957
3  Margaret    AK   F  1910   8          115    0.069565
4      John    AK   M  1910   8          115    0.069565

In [83]:
janes = df[df['name']=='Jane']

In [89]:
df.iloc[janes.proportion.idxmax()]

name                Jane
state                 HI
sex                    F
year                1936
n                     77
total_names         5604
proportion     0.0137402
Name: 880105, dtype: object

In [94]:
#df.index
#counts
df.dtypes
#df.sort_values(['name', 'year','state', 'n'], 
#               ascending=False, inplace=True)
    
#df.sort_values('n', 
#               ascending=False, inplace=True)
df_grouped = df.groupby(['name', 'year']).idxmax()

#df_grouped

KeyboardInterrupt:

In [92]:
df_grouped.head(10)

                   sex  n  total_names  proportion
name    year state
Aaban   2013 NY      M  6       193502    0.000031
        2014 NY      M  6       194935    0.000031
Aadan   2008 CA      M  7       483220    0.000014
             TX      M  5       356620    0.000014
        2009 CA      M  6       460147    0.000013
        2014 CA      M  5       440251    0.000011
Aadarsh 2009 IL      M  5       135676    0.000037
Aaden   2005 OH      M  5       122612    0.000041
        2007 AL      M  5        46380    0.000108
             AZ      M  5        83119    0.000060

In [ ]:
ranks

In [ ]:
##the following generates a series of years for matching
dates = pd.date_range('1/1/1910', periods=109, freq='Y').year.to_series()
#year = pd.to_datetime(dates).year
#dates

In [ ]:
g_df = df.groupby(['year','state','n'])


def get_max_record(group):
   #print(group.idxmax())
   return group.n.idxmax()

g_df.apply(get_max_record)
df[['state','name','year','n']].iloc[[78290,78414, 78551]]

In [65]:
counts = df_grouped.size()

TypeError: 'numpy.int64' object is not callable

In [64]:
#counts.loc['Alex']

test = pd.concat([counts['Jane'], dates],axis=1).fillna(0)

test.columns = ['count', 'year']
sns.relplot(x='year', y='count', data=test)

#use a callable on a series to select
#df1.A.loc[lambda s: s > 0]

TypeError: list indices must be integers or slices, not str

In [ ]:
counts.head()

In [ ]:
df.set_index('name', inplace=True)
#df

In [ ]:
top3 = counts.head(3).index
top3

In [ ]:
df.loc[top3]

In [ ]:
males = df[df['sex'] == 'M'].sort_values('n', ascending=False)

In [ ]:
g_df = df.groupby(['year','state', 'sex'])
df_new = g_df['n'].sum()

In [ ]:
#males.iloc[212829]
##multiple indices
#test = g_df[1910]

In [ ]:
df.head()
males.iloc[117453]

In [ ]:
g_df.apply(get_max_record)

In [ ]:
df[(df['year']==1911) & (df['state']=='IL')].iloc[0]

In [ ]:
g_df.state =='IL'

In [ ]:
males.groupby(['year','state']).apply(get_max_record)

In [ ]:
df.iloc[130918]

In [ ]:
test = g_df.apply(get_max_record)

In [ ]:
import numpy as np

##the following gives the number of names in each state
test = males.groupby(['year','state'])['name'].nunique()

In [ ]:
test = males.groupby(['year','state'])

test.size()

In [ ]:
#test
#print(test.to_list())
#test = [1,3,10,2]
print(find_argmax(test.to_list()))

In [ ]:
test.apply(find_argmax(test.n))
test

In [ ]:
males.set_index('state', inplace=True)
males.sort_values('n', ascending=False)

In [ ]:
for k,v in test.groups:
    print(k, v)

In [ ]:
test = males.sort_values('year')[['year','name','n']]

In [ ]:
test

In [ ]:
#males['age_cat'] = pd.cut(males.year, [1910, 1950, 2000, 2018], 
#                          include_lowest=True,
#                          labels = ['old', 'boomers', 'millineals'])

In [ ]:
#grouped = males.groupby('year')

In [ ]:
males.groupby('age_cat','year')

In [ ]:
males

In [ ]:
#df.set_index(['name','state'], inplace=True)
df_new = df.set_index(['state'])
##use reset_index to go back to original index

In [ ]:
df.count()

In [ ]:
males = df['sex'] == 'M'

In [ ]:
df[males]

In [ ]:
grouped_by_year.groups

In [ ]:
df.sort_values('n')

In [ ]:
plt.show()

In [ ]:
df_rank = df.groupby('rank')
df_rank.head()

for group in df_rank.groups:
    print(group, df_rank.get_group(group).mean())

In [ ]:
#alternative to the above; doesn't work yet
df = pd.concat((pd.read_csv(file).assign(filename=file) for file in files[:2]), ignore_index=True)

##to save memory on a df only keep columns you need and specify category, 
##where possible
df = pd.read_csv('file.csv', usecols=['A', 'C', 'D'], 
                         dtype={'D':'category'})#Python #pandastricks

##how to rename columns
##1 using dictionaries
df = df.rename({'A':'a', 'B':'b'}, axis='columns')

##2. overwrite all column names:
df.columns = ['a', 'b']

##3. apply string method:
df.columns = df.columns.str.lower()#Python #DataScience 

##make selections
df[(df.color == 'red') | (df.color == 'green') | (df.color == 'blue')]

#1. Shorter way:
df[df.color.isin(['red', 'green', 'blue'])]

#2. Invert the filter:
df[~df.color.isin(['red', 'green', 'blue'])]#Python #pandastricks

##Filter a DataFrame to only include the largest categories.

#1. Save the value_counts() output
counts = movies.genre.value_counts()
2. Get the index of its head()
largest_counts = counts.head(3).index
3. Use that index with isin() to filter the DataFrame