## Use the Movie Genone Dataset to Learn Basic Pandas

In [1]:
import pandas as pd
import glob

print(glob.glob('../Desktop/ml-20m/*'))

['../Desktop/ml-20m/links.csv', '../Desktop/ml-20m/tags.csv', '../Desktop/ml-20m/genome-tags.csv', '../Desktop/ml-20m/ratings.csv', '../Desktop/ml-20m/README.txt', '../Desktop/ml-20m/genome-scores.csv', '../Desktop/ml-20m/movies.csv']

## Load two datasets-1) ratings and 2) movie names

In [2]:
df_ratings = pd.read_csv('../Desktop/ml-20m/ratings.csv', header=0)
df_ratings.head()

df_movies = pd.read_csv('../Desktop/ml-20m/movies.csv', header=0)

In [3]:
df_movies.head(100)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
...,...,...,...
70,71,Fair Game (1995),Action
71,72,Kicking and Screaming (1995),Comedy|Drama
72,73,"Misérables, Les (1995)",Drama|War
73,74,Bed of Roses (1996),Drama|Romance
74,75,Big Bully (1996),Comedy|Drama
75,76,Screamers (1995),Action|Sci-Fi|Thriller
76,77,Nico Icon (1995),Documentary
77,78,"Crossing Guard, The (1995)",Action|Crime|Drama|Thriller
78,79,"Juror, The (1996)",Drama|Thriller
79,80,"White Balloon, The (Badkonake sefid) (1995)",Children|Drama
80,81,Things to Do in Denver When You're Dead (1995),Crime|Drama|Romance
81,82,Antonia's Line (Antonia) (1995),Comedy|Drama
82,83,Once Upon a Time... When We Were Colored (1995),Drama|Romance
83,84,Last Summer in the Hamptons (1995),Comedy|Drama
84,85,Angels and Insects (1995),Drama|Romance
85,86,White Squall (1996),Action|Adventure|Drama
86,87,Dunston Checks In (1996),Children|Comedy
87,88,Black Sheep (1996),Comedy
88,89,Nick of Time (1995),Action|Thriller
89,90,"Journey of August King, The (1995)",Drama
90,92,Mary Reilly (1996),Drama|Horror|Thriller
91,93,Vampire in Brooklyn (1995),Comedy|Horror|Romance
92,94,Beautiful Girls (1996),Comedy|Drama|Romance
93,95,Broken Arrow (1996),Action|Adventure|Thriller
94,96,In the Bleak Midwinter (1995),Comedy|Drama
95,97,"Hate (Haine, La) (1995)",Crime|Drama
96,98,Shopping (1994),Action|Thriller
97,99,Heidi Fleiss: Hollywood Madam (1995),Documentary
98,100,City Hall (1996),Drama|Thriller
99,101,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance

In [4]:
#df_movies.set_index('movieId', inplace=True)
#df_movies.index

df_movies.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [5]:
##extract the year from the movie title
def extract_year(name_string):
    #test = x.split("(")[1]
    return name_string[-5:-1]


#.str.split("(", n=1, expand=True)[1]

df_movies['year'] = df_movies['title'].apply(extract_year)

In [ ]:
def extract_genre_type(genre_string, genre_type):
    return True if genre_type in genre_string else False

df_movies['Adventure'] = df_movies['genres'].apply(extract_genre_type, 
                                                  genre_type='Adventure')

df_movies['Comedy'] = df_movies['genres'].apply(extract_genre_type, 
                                                  genre_type='Comedy')
df_movies.head()
#print(extract_movie_type('Adventure|Comedy', movie_type='Comedy'))
#df_movies['adventur']

In [18]:
import seaborn as sns

In [21]:
def number_genres(genre_string):
    return genre_string.count('|')+1
    
#number_genres('Adventure|Animation|Children|Comedy|Fantasy')
df_movies['n_genres'] = df_movies['genres'].apply(number_genres)

In [22]:
df_movies['genre_ranking'] = df_movies.genres.rank(ascending=False)
df_movies.sort_values(['genre_ranking'])

#only keep the top .4
qvalue = df_movies.genre_ranking.quantile(.2)
df_movies = df_movies.loc[df_movies['genre_ranking'] > qvalue,:]

In [24]:
df_movies.dtypes

movieId            int64
title             object
genres            object
year              object
Adventure           bool
Comedy              bool
n_genres           int64
genre_ranking    float64
dtype: object

In [16]:
df_movies.genres.unique()

array(['Adventure|Animation|Children|Comedy|Fantasy',
       'Adventure|Children|Fantasy', 'Comedy|Romance', ...,
       'Action|Adventure|Animation|Fantasy|Horror',
       'Animation|Children|Comedy|Fantasy|Sci-Fi',
       'Animation|Children|Comedy|Western'], dtype=object)

In [17]:
df_movies.head()
#type(year)
#df_movies.dtypes 
# making separate first name column from new data frame 
#titles["year"]= new[1] 

#year_val['year'] = titles['title'].str.split('('

,movieId,title,genres,year,Adventure,Comedy,n_genres,genre_ranking
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,True,True,5,23338.5
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,True,False,3,23015.0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,False,True,2,15003.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,False,True,3,16526.0
4,5,Father of the Bride Part II (1995),Comedy,1995,False,True,1,20023.5

In [29]:
df_movies_ratings = pd.merge(df_movies, df_ratings, 
                             on='movieId', how='inner')

In [30]:

df_movies.dtypes

movieId            int64
title             object
genres            object
year              object
Adventure           bool
Comedy              bool
n_genres           int64
genre_ranking    float64
dtype: object

In [39]:
#df_grouped = df_movies_ratings[['rating', 'n_genres']].groupby('n_genres').mean()
df_grouped = df_movies_ratings.groupby('n_genres').mean()

In [40]:
df_grouped.head()

,movieId,Adventure,Comedy,genre_ranking,userId,rating,timestamp
n_genres,,,,,,,
1,8711.702434,0.002688,0.855657,13748.503504,69003.748047,3.306966,1.088848e+09
2,7290.767205,0.116224,0.594403,12837.627548,69028.570825,3.482423,1.094202e+09
3,8342.469747,0.346134,0.376060,16036.594134,69069.450004,3.546136,1.099472e+09
4,11004.999897,0.435098,0.393244,17418.288940,69017.834011,3.517630,1.114388e+09
5,12521.105001,0.641813,0.514860,18322.941328,69029.026642,3.558562,1.126561e+09

In [ ]:
df_movies_ratings['rating'].unique()

#df_movies_ratings
df_movies_ratings.rating.max()

In [ ]:
df_grouped_genre = df_movies_ratings.groupby(['genres'])

In [ ]:
group_means = df_grouped_genre.mean()
#df_movies_ratings.loc[1, :]

group_means.head()

In [47]:
sns.barplot(x = 'n_genres', y = 'mean_rating', hue = 'Adventure',
            palette = 'hls',
            #order = ['male', 'female'],  
            capsize = 0.05,             
            saturation = 8,             
            errcolor = 'gray', errwidth = 2,  
            ci = 'sd', data=df_movies_ratings 
            )

#sns.barplot(range(len(df_grouped_genre_rating)), 
#df_grouped_genre_rating.mean())

ValueError: Could not interpret input 'mean_rating'

In [ ]:
titles.sample(100)

In [ ]:
df_movies_ratings.sort_index(inplace=True)

In [ ]:
df_movies_ratings.set_index(['movieId', 'userId'], inplace=True)

df_movies_ratings.sort_index(inplace=True)

In [ ]:
df_movies_ratings.head()

In [ ]:
df_movies_ratings['rating'].mean()

In [ ]:
import numpy as np
df_movies_ratings_grouped = \
df_movies_ratings.groupby(['userId'])['rating'].agg(['count', 'mean'])

In [ ]:
df_movies_ratings_grouped.head()